/* src/styles/leaflet.css */
@import "leaflet/dist/leaflet.css";

.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Fix for default marker icons */
.leaflet-default-icon-path {
  background-image: url("https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png");
}